@model Northwind.Models.Product

@{
    ViewData["Title"] = "Create";
}

<style>
    *{
        margin:0;
        padding : 0;
        box-sizing : border-box;
    }
    .form-containe{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contain-center{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:8px;
    }

    .form-containe-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        border-radius: 25px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }

    form{
        width : 100%;
    }

    form>div {
        margin : 12px;
    }

    div>input, div>select{
        border-radius: 45px;
        background: #e0e0e0;
        box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    }

    
</style>

<h1>Create</h1>

<h4>Product</h4>
<hr />

<div class="form-containe">
    <div class="row contain-center">
        <div class="col-md-4 form-containe-2">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control in1" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupplierId" class="control-label"></label>
                    <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityPerUnit" class="control-label"></label>
                    <input asp-for="QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Discontinued" /> @Html.DisplayNameFor(model => model.Discontinued)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>


<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
